* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.azul{
    background-color: #372AAC;
    width: 25vw;
    height:95dvh;
}

.anav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    color: white;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 50px;
    margin-left: 20px;
}

.sair{
    display: flex;
    margin-left: 15px;
    gap: 15px;
    margin-top: 75px;
}

.bnav{
    width: 100vw;
    height: 10dvh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.branco{
    width: 70vw;
    background-color: white;
}

.informacoes p{
    display: flex;
    align-items: center;
    color: white;
    gap:15px;
    padding: 5px;
}

img{
    width: 20px;
    height: 20px;
}